@model DataAnimals.DTO.Animal.AnimalDto

    <div class="card" style="max-width: 18rem;margin:0 auto">
        <img src="@Model.Url" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Tên: @Model.Name</h5>
            <p class="card-text">Tiêu đề: @Model.Description</p>
            <p class="card-text">Tuổi: @Model.AgeAvg</p>
            <a asp-controller="Animal" asp-action="Delete" asp-route-id="@Model.ID" class="btn btn-primary">Delete</a>
            <a asp-controller="Animal" asp-action="Update" asp-route-id="@Model.ID" class="btn btn-primary">Update</a>
            <a asp-controller="Animal" asp-action="Index" asp-route-id="@Model.ID" class="btn btn-primary">Go back</a>
        </div>
    </div>
