@model IEnumerable< DataAnimals.DTO.Login.UserDTO>
<table class="table text-white">
    <thead>
    <tr>
        <th scope="col">UserName</th>
        <th scope="col">Vai trò</th>
        <th scope="col">Delete</th>
        <th scope="col">Edit</th>
        <th scope="col">Detail</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Username</td>
            <td>@String.Join(", ",@item.Roles)</td>
                <td><a asp-controller="User" class="btn btn-danger" asp-action="DeleteUserView" asp-route-username="@item.Username"><i class="fa-solid fa-trash"></i></a></td>
                <td><a asp-controller="User" class="btn btn-primary" asp-action="Update" asp-route-username="@item.Username"><i class="fa-solid fa-gears"></i></a></td>
                <td><a asp-controller="User" class="btn btn-info" asp-action="DetailUser" asp-route-username="@item.Username"><i class="fa-solid fa-circle-info"></i></a></td>
        </tr>
    }
    </tbody>
</table>