@model DataAnimals.DTO.Login.UpdateUserRolesDTO
@{
    var userId = ViewBag.User;
}
<form asp-controller="User" asp-action="UpdateUserView" asp-route-username="@userId.Username" method="post">
    <div class="form-group">
        <label class="text-white" for="name">Tên người dùng:</label>
        <input type="text" class="form-control" id="Username" value="@userId.Username" asp-for="Username" disabled="">
        <input type="hidden" id="Username" value="@userId.Username" />
    </div>
    <br />
    <div class="form-group">
        <label class="text-white" for="name">Quyền:</label>
    </div>
    <div class="form-group">
        @foreach (var role in ViewBag.Roles)
        {

            <div class="form-check form-check-inline">
                @if (@role == "Read")
                {
                    <input class="form-check-input " type="checkbox" name="Roles" value="@role" checked="False" disabled="" />
                    <input type="hidden" name="Roles" value="@role" />
                    <label class="form-check-label text-white">@role</label>
                }
                else
                {
                    <input class="form-check-input " type="checkbox" name="Roles" value="@role" checked />
                    <label class="form-check-label text-white">@role</label>
                }
            </div>
        }

    </div>
    <br />
    <button type="submit" class="btn btn-primary">Submit</button>
</form>