@using View.Controllers
@model IEnumerable< DataAnimals.DTO.Animal.AnimalDto>
@{
    float count = Model.Count()/3;
}
<div class="container text-center">
    <form asp-controller="Home" asp-action="Pagingx">
        <div class="row g-5">
            @foreach (var item in Model)
            {
                <div class="col-4">
                    <div class="card">
                        <img src="@item.Url" width="100px" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Tên: @item.Name</h5>
                            <p class="card-text">Tiêu đề: @StringHelpers.TruncateAtWord(item.Description, 50)</p>
                            <p class="card-text">Tuổi: @item.AgeAvg</p>
                            <a asp-controller="Animal" asp-action="Detail" asp-route-id="@item.ID" class="btn btn-primary">Detail</a>
                        </div>
                    </div>
                </div>
            }
            <p class="card-text">Số lượng hiện tại: @Model.Count()</p>
            @for (float i = 1; i < count; i++)
            {
                if (i > 1)
                {
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="Page" value="option1">
                        <label class="form-check-label" for="inlineRadio1">@i</label>
                        <button type="submit" class="btn btn-primary search-btn">Tìm kiếm</button>
                    </div>
                }
            }
        </div>
    </form>
    
</div>